{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('regsub',array('op' =>'display'))}">补贴申请列表</a></li>
	
</ul>

{if $operation == 'display'}


<div class="main">
	
<style>
.label{cursor:pointer;}
</style>

<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:30px;">ID</th>
					<th>姓名</th>					
					<th>面试日期</th>
					<th>入职日期</th>
					<th>在职公司</th>
					<th>联系方式</th>
					<th>创建时间</th>
					<th >操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $vo}
				<tr>
					<td>{$vo['id']}</td>
					<td>{$vo['name']}</td>
					<td>{$vo['date']}</td>
					<td>{$vo['jobdate']}</td>
					<td>{$vo['companyname']}</td>
					<td>{$vo['tel']}</td>
					<td>{php echo date('Y-m-d H:i:s', $vo['createtime'])}</td>
					<td style="text-align:left;">
						
						<a href="{php echo $this->createWebUrl('regsub', array('op' => 'delete', 'id' => $vo['id']))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
{elseif $operation == 'post'}


{/if}
{template 'common/footer'}